# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable test-status': 'test-status:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'test-status'
      'submenu': [
        { 'label': 'Toggle', 'command': 'test-status:toggle' }
      ]
    ]
  }
]
